img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.user-info{
  display: flex;
  justify-content: space-between;
}
.rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //border: none;
  height: 100%;
}
