<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th class="w-25">Prenom Nom</th>
        <th class="w-25">Email</th>
        <th class="w-25">Date d'inscription</th>
        <th class="w-25">Visibilité</th>
        <th class="w-25">Bloquer</th>
        <th class="w-25">Note</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of allUsers">
        <td>
            <div class="user-info">
                <p>{{ user.firstname }} {{ user.lastname }}
                    <img *ngIf="user.avatar_url !== 'null'" [src]="user.avatar_url | safe">
                    <img *ngIf="user.avatar_url == 'null'"  src="https://ptetutorials.com/images/user-profile.png">
                </p>
                <i class="fa fa-paper-plane-o msg_send_btn" aria-hidden="true"
                   matTooltip="envoyer message a l'utilisateur"
                   (click)="sendMessage(user)"></i>
            </div>
        </td>
        <td>{{ user.email }}</td>
        <td>{{ user.created_date | date }}</td>
        <td>
            <mat-slide-toggle [(ngModel)]="user.visibility"
                              (change)="changeVisibility($event , user)"> Changer</mat-slide-toggle>
        </td>
        <td>
            <mat-slide-toggle [(ngModel)]="user.blocked"
                              (change)="changeBlocked($event, user)"> Changer</mat-slide-toggle>
        </td>
        <td>
            <div class="rate">
            <div  *ngFor="let rate of user.rating | displayRate">
                <i  [ngClass]="rate.classIcon" aria-hidden="true"></i>
            </div>
            </div>
        </td>
<!--        <td class="button flex">-->
<!--            <button-->
<!--                    *ngIf="demand.status === 'pending'"-->
<!--                    mat-raised-button-->
<!--                    color="primary"-->
<!--                    (click)="acceptDemand(demand)">Accept-->
<!--            </button>-->
<!--            <button *ngIf="demand.status === 'pending'" mat-raised-button color="warn" (click)="rejectDemand(demand)">-->
<!--                Reject-->
<!--            </button>-->
<!--            <p *ngIf="demand.status !== 'pending'">{{ demand.status }}</p>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>

