@import url("https://fonts.googleapis.com/css?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo|Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap");
@font-face {
  font-family: myFirstFont;
  src: url(../../../assets/Meows-VGWjy.ttf);
}
footer {
  background-color: #87c0b4;
  height: auto;
  margin-top: 10vh;
  bottom: 0;
  color: #5d3535;
  font-size: 16px;
}

ul {
  list-style: none;
}

i {
  color: #5d3535;
  font-size: 20px;
}
hr {
  background-color: #feb225;
  height: 2px;
}
.left {
  display: flex;
  justify-content: start;
  text-align: center;
}
.text-center {
  text-align: center;
}

#title-footer {
  font-size: 30px;
}
h5 {
  letter-spacing: 1px;
  font-family: "myFirstFont", cursive;
}
a {
  text-decoration: none;
  color: #5d3535;
}
