@font-face {
  font-family: dogBoneFont;
  src: url(../../../assets/SummersDoggieBones-R0vo.ttf);
}
@font-face {
  font-family: dogCollieFont;
  src: url(../../../assets/KsBorderCollieHideNRegular-gzZ5.ttf);
}
@font-face {
  font-family: doggyFont;
  src: url(../../../assets/DoggyDogWorld-K7BaA.ttf);
}
@font-face {
  font-family: nicksFont;
  src: url(../../../assets/KrNicksPuppy1-9Wpy.ttf);
}
section {
  padding-top: 20vh;
  height: 110vh;
  width: 100%;
  background-image: url(../../../assets/img/ill3.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: "nicksFont", cursive;
  font-size: 8em;
  text-align: center;
  color: #1d2d5f;
  font-weight: 400;
  text-shadow: 1px 1px #feb225;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 800px) {
  section {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 5em;
  }
}
