<div class="modal-header">
  <h5 class="modal-title"> Envoyer un message a <span *ngIf="firstname"> {{firstname}}</span>
    <span *ngIf="dogname"> {{dogname}} proprietaire</span>
    <span *ngIf="admin"> Admin </span>
  </h5>
   <i class="fas fa-times cursor-pointer" (click)="closeModal()"></i>
</div>
<div class="modal-body">

  <form [formGroup]="FormMessage">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <textarea
          matInput
          rows="5"
          cols="40"
          formControlName="message"
          id="message"
        ></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="modal-footer ">
  <button mat-button (click)="sendMessage()" [disabled]="!FormMessage.valid">
    Envoyer
  </button>
</div>



