<div class="modal-header">
    <h5 class="modal-title"> Envoyer une demande</h5>
     <i class="fas fa-times"  (click)="closeModal(null)"></i>
</div>
<div class="modal-body">
    {{text |json}}
</div>
<div class="modal-footer ">
    <button mat-button (click)="closeModal(null)">Annuler</button>
    <button mat-button (click)="closeModal('yes')">Envoyer</button>
</div>



