<section class="big">
  <div class="container">
    <div class="messaging" *ngIf="myUsers && myUsers.length > 0">
          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>Récent</h4>
                </div>
              </div>
              <div class="inbox_chat">
                <div class="chat_list"
                     [ngClass]="{'chat-active': myUser.active}"
                     *ngFor="let myUser of myUsers">
                  <div class="chat_people"
                  (click)="getUserMessage(myUser.id)">
                    <div class="chat_img"
                         *ngIf="!myUser.avatar_url || myUser.avatar_url == 'null'"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_img"
                         *ngIf="myUser.avatar_url && myUser.avatar_url !== 'null'"> <img [src]="myUser.avatar_url | safe" alt="sunil"> </div>

                    <div class="chat_ib">
                      <h5>{{ myUser.firstname }} {{ myUser.lastname }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mesgs">
              <div class="msg_history" >
                <div 
                *ngFor="let mess of userMessages" 
                [ngClass]="{'outgoing_msg': mess.from_user_id === userId, 'incoming_msg': mess.from_user_id !== userId}">
                  <div *ngIf=" mess.from_user_id !== userId"
                  class="incoming_msg_img">
                    <img *ngIf="mess.avatar_url =='null'" src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                    <img *ngIf="mess.avatar_url !=='null'" [src]="mess.avatar_url | safe"  alt="sunil">
                  </div>
                  <div
                  [ngClass]="{'received_msg': mess.from_user_id !== userId, 'sent_msg': mess.from_user_id === userId}">
                    <div 
                    [ngClass]="{'outgoing_msg': mess.from_user_id === userId, 'received_withd_msg': mess.from_user_id !== userId}">
                      <p>{{mess.message}}</p>
                      <span class="time_date"> {{mess.timestamp | date:'dd-MM-yyyy, h:mm a'}}</span></div>
                  </div>
                </div>
              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <form [formGroup]="FormMessage">
                  <input type="text" class="write_msg" 
                  formControlName="message"
                  placeholder="Type a message" />
                  <button class="msg_send_btn" type="button"
                          *ngIf="currentUser.data.user.blocked === 0"
                  (click)="sendMessage()"
                  [disabled]="!FormMessage.valid">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>  
        </div>
    <div class="row" *ngIf="myUsers && myUsers.length === 0">
      <div class="info_non_data">
        <p> Vous n'avez pas de messages
          <br>
          Vous pouvez contacter les utilisateurs ici</p>
        <a [routerLink]="['/garde']" class="button28">
          voir les annonces
        </a>
      </div>
    </div>

  </div>
</section>


<section class="smoll">
  <div class="container" >
    <div class="user" *ngIf="myUsers && myUsers.length > 0">
      <div class="chat_list"
           [ngClass]="{'chat-active': myUser.active}"
           *ngFor="let myUser of myUsers">
        <div class="chat_people_smoll"
             (click)="getUserMessage(myUser.id)">
          <div class="chat_img_smoll"
               *ngIf="!myUser.avatar_url || myUser.avatar_url == 'null'"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <!--                    <div class="chat_img" *ngIf="myUser.avatar_url && myUser.avatar_url !== 'null'"> <img [src]="myUser.avatar_url | safe" alt="sunil"> </div>-->
          <div class="chat_img_smoll"
               *ngIf="myUser.avatar_url && myUser.avatar_url !== 'null'"> <img [src]="myUser.avatar_url | safe" alt="sunil"> </div>

          <div class="chat_ib_smoll">
            <h5>{{ myUser.firstname }} {{ myUser.lastname }}</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="mesgs" *ngIf="myUsers && myUsers.length > 0">
      <div class="msg_history" >
        <div
                *ngFor="let mess of userMessages"
                [ngClass]="{'outgoing_msg': mess.from_user_id === userId, 'incoming_msg': mess.from_user_id !== userId}">
          <div *ngIf=" mess.from_user_id !== userId"
               class="incoming_msg_img">
            <img *ngIf="mess.avatar_url =='null'" src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
            <img *ngIf="mess.avatar_url !=='null'" [src]="mess.avatar_url | safe"  alt="sunil">
          </div>
          <div
                  [ngClass]="{'received_msg': mess.from_user_id !== userId, 'sent_msg': mess.from_user_id === userId}">
            <div
                    [ngClass]="{'outgoing_msg': mess.from_user_id === userId, 'received_withd_msg': mess.from_user_id !== userId}">
              <p>{{mess.message}}</p>
              <span class="time_date"> {{mess.timestamp | date:'dd-MM-yyyy, h:mm a'}}</span></div>
          </div>
        </div>
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <form [formGroup]="FormMessage">
            <input type="text" class="write_msg"
                   formControlName="message"
                   placeholder="Type a message" />
            <button class="msg_send_btn" type="button"
                    *ngIf="currentUser.data.user.blocked ===0"
                    (click)="sendMessage()"
                    [disabled]="!FormMessage.valid">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="row non_msg" *ngIf="myUsers && myUsers.length === 0">
        <p> Vous n'avez pas de messages
    </div>
  </div>

</section>
