.sociability {
  display: flex;
  justify-content: center;
  i,
  img {
    width: 24px;
    height: 24px;
  }
  img {
    margin-right: 13px;
  }
  i {
    line-height: inherit !important;
  }
}

mat-card-actions {
  div {
    display: flex;
    justify-content: space-between;
    min-height: 35px;
  }
  .demandes {
    display: flex;
    justify-content: center;
  }

  p:hover {
    font-weight: bold;
  }
}
mat-card-header {
  width: 100%;
  position: relative;
  .example-header-image {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.mat-card-header-text {
  width: 100%;
}
mat-card-content {
  .characteristic {
    height: 39px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
mat-card-title {
  width: 100%;
  display: flex;
  p {
    font-size: 90%;
    font-weight: 500;
    color: rgb(236, 236, 241);
    position: absolute;
    padding: 2px 5px;
    top: -19px;
    right: -28px;
    font-size: 0.7em;
    border-radius: 3px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset,
      0 2px 3px rgba(255, 255, 255, 0.329);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.demandInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .userBlock {
    width: 60%;
  }
}

.user_info {
  margin-top: 1500px;
  width: 100%;
  margin-top: 3%;
  h6 {
    text-align: center;
  }
  .row {
    background-color: #f5f5f5;
    margin-left: 0px !important;
    margin-right: 0px !important;
    .avatar {
      display: flex;
      align-items: center;
      text-align: center;
      img {
        width: 90%;
        height: auto;
        border-radius: 70px;
      }
    }
    .info_perso {
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
    }
    .action {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

.nonDemand {
  text-align: center;
}

button.showDemandes:focus {
  font-weight: bold;
}
button.showDemandes:active {
  font-weight: bold;
}

.filter {
  display: flex;
  text-align: end;
  justify-content: flex-end;
}
.rate {
  display: flex;
}

.info_non_data{
  position: inherit;
  margin-top: 40vh;
  margin-left: 40vw;
}
