<app-nav></app-nav>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 hide">
        <div class="navLink">
          <a [routerLink]="['adopt']" routerLinkActive="linkActive">Adoption</a>
          <a [routerLink]="['users']" routerLinkActive="linkActive">Utilisateurs</a>
          <a [routerLink]="['message']" routerLinkActive="linkActive">
            Messages</a>
        </div>
      </div>
      <div class="col-md-10 col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
