<app-nav></app-nav>
  <mat-drawer-container class="example-container" autosize>
    <div class="example-sidenav-content">
      <div class="allButtons" style="display: flex; justify-content: space-between;"> 
      <div>
      <button mat-icon-button  [disabled]="!currentUser"
    (click)="drawer.toggle()">
    <mat-icon
    matTooltip="TOP 3 dogs sitter">emoji_events</mat-icon>
    </button>
      <a class="button28" *ngIf="currentUser && currentUser.data.user.blocked === 0" style="margin-left: 1em;"
       (click)="showAddAnnonceModal()">Add annonce </a>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Date souhaitée</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input (dateChange)="dateStart($event)" matStartDate placeholder="Start date" disabled>
          <input (dateChange)="dateEnd($event)" matEndDate placeholder="End date disabled">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      </div>
      <div class="container-fluid">
        <div *ngIf="cardLoiding" style="width: 100%; display: flex; justify-content: center;">
          <mat-spinner></mat-spinner>
        </div>
        <div class="row" *ngIf="!cardLoiding">
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-3" *ngFor="let dog of filtredDogs">
            <mat-card class="example-card card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"
                  [ngStyle]="{'background-color':dog.sexe == '1' ? '#87C0B4' : '#FEB225' }">
                  <i *ngIf="dog.sexe == '1'" class="fas fa-mars" style="color: white;"></i>
                  <i *ngIf="dog.sexe == '2'" class="fas fa-venus" style="color: white;"></i>
                </div>
                <mat-card-title>
                  <h4>{{dog.name}} </h4>
                </mat-card-title>
                <mat-card-subtitle>{{dog.race}} {{dog.age}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image  [src]="dog.photo | safe" style="height: 200px;" alt="dog-photo">
              <mat-card-content>
                <div class ="sociability">
                  <i *ngIf="dog.love_dog" class="fas fa-dog mr-2"
                  matTooltip="sociable avec les chiens"></i>
                  <img *ngIf="!dog.love_dog"
                  matTooltip="pas sociable avec les chiens"
                   src="assets/img/post_5c91f9b712d58-removebg-preview.png">
                  <i *ngIf="dog.love_cat" class="fas fa-cat mr-2"
                  matTooltip="sociable avec les chats"></i>
                  <img *ngIf="!dog.love_cat" 
                  matTooltip="pas sociable avec les chiens"src="assets/img/vhod-s-koshkami-zapreshhen-1-removebg-preview.png">
                  <i *ngIf="dog.love_child" class="fas fa-baby"
                  matTooltip="sociable avec les enfants"></i>
                  <img *ngIf="!dog.love_child"
                  matTooltip="pas sociable avec les enfants"
                      src="assets/img/vhod-s-mladencami-zapreshhen-1-removebg-preview.png">
                </div>
                <p class="characteristic">
                  {{dog.characteristic}}
                  <br>
                </p>
                <div class="flex" style="text-align: center;">
                  {{dog.date_start | date:'mediumDate'}} - {{dog.date_fin | date:'mediumDate'}}
                </div>
              </mat-card-content>
              <mat-card-actions>
                <i class="fa fa-paper-plane-o msg_send_btn" aria-hidden="true"
                matTooltip="envoyer message a l'utilisateur"
                *ngIf="currentUser && currentUser.data.user.id !=dog.owner_id && currentUser.data.user.blocked === 0"
                (click)="showSendMessageModal(dog)"></i>
                <p 
                *ngIf="currentUser &&dog.sendDemand && currentUser.data.user.id !=dog.owner_id "> deja demandé </p>
                <a class="button28"  (click)="sendDemand(dog)" 
                *ngIf="currentUser && !dog.sendDemand && currentUser.data.user.id !=dog.owner_id && currentUser.data.user.blocked === 0">Demande</a>
<!--                <a class="deleteButton"  (click)="deleteMyAnnonce(dog)" -->
<!--                *ngIf="currentUser && currentUser.data.user.id ===dog.owner_id && currentUser.data.user.blocked === 0">Delete</a>-->
                <a class="deleteButton"  [routerLink]="['/profil/my-annonce']" style="margin: auto"
                   *ngIf="currentUser && currentUser.data.user.id ===dog.owner_id && currentUser.data.user.blocked === 0">Consuler vos annonces </a>
              </mat-card-actions>
            </mat-card>
          </div>
          </div>
          </div>
    </div>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="top">
        <h6> Top <br>dogs sitter</h6>
          <i class="fas fa-times" style="cursor: pointer;"  (click)="drawer.toggle()"></i> 
        <div *ngFor="let user of topUsers">
          <div class="rate">
            <img *ngIf="user.avatar_url !== 'null'" [src]="user.avatar_url | safe">
            <img *ngIf="user.avatar_url == 'null'"  src="https://ptetutorials.com/images/user-profile.png">
            <i class="fa fa-paper-plane-o msg_send_btn" aria-hidden="true"
                matTooltip="envoyer message a l'utilisateur"
                *ngIf="currentUser && currentUser.data.user.id !=user.id && currentUser.data.user.blocked === 0 "
                (click)="showSendMessageUserTopModal(user)"></i>
          </div>
          <div class= "rate">
          <div  *ngFor="let rate of user.rating | displayRate"> 
            <i  [ngClass]="rate.classIcon" aria-hidden="true"></i>
          </div>
        </div>
        <div>
        {{user.firstname}}  {{user.lastname}}
        </div>
        </div>
       </div>
    </mat-drawer>
  
  </mat-drawer-container>
<app-footer></app-footer>
