@font-face {
  font-family: dogSummersFont;
  src: url(../../../assets/SummersDoggieBones-R0vo.ttf);
}
mat-drawer-container {
  min-height: 92vh;
  padding-top: 10vh;
  max-width: 100vw;
}
.row {
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
}

mat-card-header {
  width: 100%;
  position: relative;
  h4 {
    font-size: 1.2em;
  }
  .example-header-image {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.mat-card-header-text {
  width: 100%;
}

mat-card-content {
  .characteristic {
    height: 42px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
mat-card-title {
  width: 100%;
  display: flex;
}
mat-card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.sociability {
  display: flex;
  justify-content: center;
  i,
  img {
    width: 24px;
    height: 24px;
  }
  img {
    margin-right: 13px;
  }
  i {
    line-height: inherit !important;
  }
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  min-height: 35px;
}
mat-drawer {
  height: 100vh;
  border-bottom: 1px solid gray;
  padding-top: 10vh;
}
.top {
  width: 15vw;
  text-align: center;
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    border-radius: 10px;
    width: 3em;
    height: 3em;
  }
  h6 {
    font-family: "myFirstFont", cursive;
    font-size: 2.05em;
    font-weight: 750;
    letter-spacing: 0.2em;
    color: #5d3535;
  }
  .rate {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
  }
  .fa-times {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

@media screen and (max-width: 576px) {
  mat-drawer-container {
    min-height: 50vh;
    // max-height: 90vh;
    .example-sidenav-content {
      width: 100vw;
    }
  }
  mat-drawer {
    width: 100vw;
    .top {
      width: 100vw;
    }
  }
  .allButtons {
    flex-direction: column;
    div {
      display: flex;
      justify-content: space-between;
    }
  }
  mat-form-field {
    width: 80%;
    margin-top: 1%;
    padding-top: 10px;
    margin: auto;
  }
}
