<app-nav></app-nav>
<section>
  <!-- SMOLL -->
  <div class="leftNav">
    <a [routerLink]="['me']" routerLinkActive="linkActive">Données</a>
    <a [routerLink]="['my-adopt']" routerLinkActive="linkActive">Demandes d'adoption</a>
    <a [routerLink]="['my-keep']" routerLinkActive="linkActive">Demandes de garde</a>
    <a [routerLink]="['my-annonce']" routerLinkActive="linkActive">
      Annonces</a>
    <a [routerLink]="['message']" routerLinkActive="linkActive">
      Messages</a>
    <a class="cursor-pointer" (click)="showModalSendMessage()">
      Contacter l'admin</a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 hide">
        <div class="navLink">
          <a [routerLink]="['me']" routerLinkActive="linkActive">Données</a>
          <a [routerLink]="['my-adopt']" routerLinkActive="linkActive">
           Demandes d'adopton</a>
          <a [routerLink]="['my-keep']" routerLinkActive="linkActive">Demandes de garde</a>
          <a [routerLink]="['my-annonce']" routerLinkActive="linkActive">
            Annonces</a>
          <a [routerLink]="['message']" routerLinkActive="linkActive">
            Messages</a>
          <a class="cursor-pointer" (click)="showModalSendMessage()">
            Contacter l'admin</a>
        </div>
      </div>
      <div class="col-md-10 col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
