<div class="modal-header">
  <h5 class="modal-title">Chien à garder</h5>
  <i class="fas fa-times" style="cursor: pointer;" (click)="closeModal()"></i>
</div>
<div class="modal-body">

  <form [formGroup]="newAnnonce">
    <mat-form-field class="example-full-width" floatLabel="never" class="w-50 pr-2">
      <mat-label>Nom du chien </mat-label>
      <input matInput id="dogName" formControlName="dogName">
    </mat-form-field>
    <mat-form-field class="example-full-width" floatLabel="never" class="w-50">
      <mat-label>Age </mat-label>
      <input matInput id="age" formControlName="age">
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 49%;" class="pr-2">
      <mat-label> Classification </mat-label>
      <mat-select (selectionChange)="choseClassification($event)">
        <mat-option *ngFor="let class of classification" [value]="class">
          {{class.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 50%;">
      <mat-label>Sexe </mat-label>
      <mat-select (selectionChange)="choseDogSexe($event)">
        <mat-option *ngFor="let sexe of dogSexe" [value]="sexe">
          {{sexe.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <input type="file" id="file" value="John" (change)="selectFile($event)" style="width: 100%;" class="mb-2">
    <br>
    <mat-form-field appearance="fill" style="width: 33%;" class="pr-2">
      <mat-label> &#10084; chiens ? </mat-label>
      <mat-select (selectionChange)="choseLoveAutherDogs($event)">
        <mat-option *ngFor="let dog of atherDog" [value]="dog">
          {{dog.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 33%;" class="pr-2">
      <mat-label>&#10084; chats? </mat-label>
      <mat-select (selectionChange)="choseLovaCat($event)">
        <mat-option *ngFor="let cat of cats" [value]="cat">
          {{cat.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 33%;" class="pr-2">
      <mat-label>&#10084; enfants? </mat-label>
      <mat-select (selectionChange)="choseLoveChild($event)">
        <mat-option *ngFor="let child of childs" [value]="child">
          {{child.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%;">
      <mat-label>Description</mat-label>
      <textarea matInput id="description" placeholder="Veuillez mettre plus d'information a propos de votre chien"
        rows="3" cols="40" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" floatLabel="never" style="width: 40%;" class="pr-2">
      <mat-label>Race </mat-label>
      <input matInput id="race" formControlName="race">
    </mat-form-field>
    <mat-form-field class="example-full-width" floatLabel="never" style="width: 60%;">
      <mat-label>Adress </mat-label>
      <input matInput id="address" formControlName="address">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Start date" formControlName="start"
        (dateChange)="datestart($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [min]="maxDate" [matDatepicker]="picker1" placeholder="End date" formControlName="end"
             (dateChange)="dateEnd($event)"
        [disabled]="notStartDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Prix</mat-label>
      <input matInput formControlName="prix" id="prix" class="w-100">
    </mat-form-field>
  </form>  
</div>
<div class="modal-footer ">
  <button mat-button (click)="closeModal()">Annuler</button>
  <button mat-button (click)="send()" [disabled]="!newAnnonce.valid">Envoyer</button>
  <!-- <button mat-button (click)="send()">Send</button> -->
</div>
