<div class="modal-header">
    <h5 class="modal-title">Connecter-vous</h5>
     <i class="fas fa-times" (click)="closeModal(null)"></i>
</div>
<div class="modal-body">

    <form [formGroup]="FormConnect">
            <mat-form-field class="example-full-width cent">
                <mat-label>Adresse e-mai</mat-label>
                <input matInput  type="email" id="email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="example-full-width cent">
                <mat-label>Mot de passe</mat-label>
                <input matInput   type="password" formControlName="password" id="password" class="w-100">
            </mat-form-field>
    </form>
</div>
<div class="modal-footer ">
    <button mat-button (click)="closeModal(null)">Annuler</button>
    <button mat-button (click)="send()" [disabled]="!FormConnect.valid">Connexion</button>
</div>



