<div class="modal-header">
    <h5 class="modal-title">Inscription</h5>
     <i class="fas fa-times" (click)="closeModal()"></i>
</div>
<div class="modal-body">

    <form [formGroup]="FormRegister">
            <mat-form-field class="example-full-width">
                <mat-label>Prenom</mat-label>
                <input matInput id="firstname" formControlName="firstname">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Nom</mat-label>
                <input matInput id="lastname"  formControlName="lastname">
            </mat-form-field>
            <mat-form-field class="example-full-width cent">
                <mat-label>e-mail</mat-label>
                <input matInput  type="email" id="email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="example-full-width cent">
                <mat-label>Mot de passe</mat-label>
                <input matInput   type="password" formControlName="password" id="password" class="w-100">
            </mat-form-field>
    </form>
</div>
<div class="modal-footer ">
    <button mat-button (click)="closeModal()">Annuler</button>
    <button mat-button (click)="send()" [disabled]="!FormRegister.valid">Inscriptions</button>
</div>



