<div class="container">
    <p *ngIf="currentUser.data.user.blocked === 1" class="blocked_annonce"> Votre compte est bloqué. Veuillez contacter l'administrateur pour plus d'infos </p>
    <div class="row user-data">
      <div class="col-lg-4 col-sm-12 user_avatar">
          <div *ngIf="currentUser && currentUser.data.user.avatar_url &&  currentUser.data.user.avatar_url != 'null' &&  currentUser.data.user.avatar_url != null" class="avatar"
          [ngStyle]="{'background-image': 'url(' + currentUser.data.user.avatar_url + ')'}">
          <div class="cross" (click)="deleteAvatar()" *ngIf="currentUser.data.user.blocked === 0 ">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <input class="ng-hide" id="input-file-id" multiple type="file"
                 *ngIf="currentUser.data.user.blocked === 0 "
                 (change)="selectFile($event)" style="display:none;" />
          <label for="input-file-id" class="md-button md-raised md-primary edit"
                 *ngIf="currentUser.data.user.blocked === 0 ">Modifier</label>
          </div>
          <div *ngIf="currentUser && (currentUser.data.user.avatar_url == null || currentUser.data.user.avatar_url == 'null')" class="avatar url_avatar">
            <input class="ng-hide" id="input-file-id" multiple type="file"
                   *ngIf="currentUser.data.user.blocked === 0 "
                   (change)="selectFile($event)" style="display:none;" />
            <label for="input-file-id"  class="md-button md-raised md-primary edit"
                   *ngIf="currentUser.data.user.blocked === 0 ">Ajouter</label>
          </div>
          <mat-slide-toggle [(ngModel)]="currentUser.data.user.visibility"
                            [disabled]="currentUser.data.user.blocked === 1 "
          (change)="changeVisibility($event)"> changer la visibilité de profil</mat-slide-toggle>
      </div>
      <div class="col-lg-4 col-sm-12">
        <!-- <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)"> -->
          <form #myForm="ngForm">
          <div class="form-group ">
              <label>Prenom:  </label>
              <mat-form-field class="example-full-width">
                <input matInput name="firstname" [(ngModel)]="currentUser.data.user.firstname" required
                       [disabled]="currentUser.data.user.blocked === 1 ">
              </mat-form-field>
              <!-- <input class="form-control" name="firstname" [(ngModel)]="currentUser.data.user.firstname" required /> -->
          </div>

          <div class="form-group ">
            <label>Nom: </label>
            <mat-form-field class="example-full-width">
              <input matInput  name="lastname" [(ngModel)]="currentUser.data.user.lastname" required
                     [disabled]="currentUser.data.user.blocked === 1 ">
            </mat-form-field>
        </div>
      </form>`
      </div>
      <div class="col-lg-4 col-sm-12 send_button">
        <button
              [disabled]="!myForm.valid || currentUser.data.user.blocked === 1 "
              (click)="sendUserData(myForm.value)"
              [ngClass]="{button28: myForm.valid, button27: !myForm.valid || currentUser.data.user.blocked === 1}"> Modifier mes données
              </button>
     </div>
    </div>

    <div class="row user-email">
        <div class="col-lg-4 col-sm-12 send_button">
            <label>E-mail:  </label>
        </div>
        <div class="col-lg-4 col-sm-12 email">
            <form #myForm2="ngForm">
                <div class="form-group ">
                    <mat-form-field class="example-full-width" style="width: 250px">
                        <input matInput name="email" type="email" [(ngModel)]="currentUser.data.user.email"
                               [disabled]="currentUser.data.user.blocked === 1 "
                               [pattern]="emailValidator"
                               required >
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-sm-12 send_button">
            <button
                    [disabled]="!myForm2.valid || currentUser.data.user.blocked === 1 "
                    (click)="sendUserEmail(myForm2.value)"
                    [ngClass]="{button28: myForm2.valid, button27: !myForm2.valid || currentUser.data.user.blocked === 1}"> Modifier email
            </button>
        </div>
    </div>
  </div>
