.container {
  padding-top: 10vh;
}
.blocked_annonce{
  color: red;
  text-align: center;
  font-weight: bold;
}
.user-data{
  background-color: #ebebeb;
  border: 1px solid #d8d8d8;
  min-height: 30vh;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5vh;
  border-radius: 3px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.user-email{
  background-color: #ebebeb;
  border: 1px solid #d8d8d8;
  min-height: 15vh;
  border-radius: 3px;
  .email {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.url_avatar {
  background-image: url("/assets/img/avatar.png");
}
.avatar {
  background-color: burlywood;
  border-radius: 50%;
  height: 8em;
  width: 8em;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  .cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  label {
    display: flex;
    margin-left: 3em;
    margin-top: 0.6em;
    width: 100%;
    height: 100%;
    position: absolute;
    // bottom: -7px;
    justify-content: center;
    text-align: center;
    // height: 50%;
    align-items: center;
    vertical-align: middle;
    display: flex;
    background-color: rgba(128, 128, 128, 0.315);
    cursor: pointer;
    font-weight: 600;
    color: white;
    letter-spacing: 0.1em;
    opacity: 0;
    border-radius: 50%;
  }
  input {
    display: block;
    opacity: 0;
  }
}

.avatar:hover {
  label {
    transition: 0.3s;
    opacity: 1;
  }
  input {
    transition: 0.3s;
    opacity: 1;
  }
}
div.user-data {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin-right: 3em;
    font-weight: bold;
  }
}

div.user_avatar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
div.send_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
  button
  **/

button.button28 {
  border: none;
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(236, 236, 241);
  text-decoration: none;
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.7em 1.2em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(#87c0b4, #5ab39f) #02cfab;
  // box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px rgba(0, 1, 6, 0.5),
  //   0 0 1px 1px rgba(0, 1, 6, 0.2);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #02554681,
    0 0 1px 1px #0350424f;
  transition: 0.2s ease-in-out;
}
button.button28:hover:not(:active) {
  background: linear-gradient(#9bdbcd, #5ab39f) #037963;
}
button.button28:active {
  top: 1px;
  background: linear-gradient(#7db1a5, #408072) #036351;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
button.button27 {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209, 209, 217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(143, 143, 146), rgb(144, 144, 148))
    rgb(139, 139, 139);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);
  transition: 0.2s ease-in-out;
}
