<!-- {{myAnnonces | json}} -->
<mat-tab-group animationDuration="0ms"  mat-align-tabs="center">
  <mat-tab label="Actuelles"> 
    <app-current-annonce
    [currentUser]=currentUser></app-current-annonce>
  </mat-tab>
  <mat-tab label="Passées">
     <app-past-annonce [currentUser]=currentUser></app-past-annonce>
  </mat-tab>
</mat-tab-group>