@font-face {
  font-family: myFirstFont;
  src: url(../../../assets/Meows-VGWjy.ttf);
}
.adopt,
.garde,
.walking {
  min-height: 80vh;
}
.wh100 {
  height: 100%;
}
.row {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  width: 10%;
  background-color: #504536;
}
.slogan {
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 25%;
  background-color: #ffefd2a1;
  padding: 2%;
}
.show {
  display: none;
}
h1 {
  font-family: "myFirstFont", cursive;
  font-size: 3em;
  font-weight: 550;
  letter-spacing: 2px;
  color: #5d3535;
}
h2 {
  justify-content: center;
  text-align: center;
  padding-bottom: 0.5em;
}
.stat {
  padding-bottom: 0.5em;
}
.aligner {
  justify-content: center;
  text-align: center;
  p {
    margin-top: 1.5em;
    margin-bottom: 3em;
    text-align: justify;
  }
}

.lucky {
  height: 70vh;
  background-color: #ffefd2;
}
// button

a.button28 {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(236, 236, 241);
  text-decoration: none;
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.7em 1.2em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(#87c0b4, #5ab39f) #02cfab;
  // box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px rgba(0, 1, 6, 0.5),
  //   0 0 1px 1px rgba(0, 1, 6, 0.2);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #02554681,
    0 0 1px 1px #0350424f;
  transition: 0.2s ease-in-out;
}
a.button28:hover:not(:active) {
  background: linear-gradient(#9bdbcd, #5ab39f) #037963;
}
a.button28:active {
  top: 1px;
  background: linear-gradient(#7db1a5, #408072) #036351;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 800px) {
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .adopt,
  .garde,
  .walking {
    min-height: 40vh;
  }
  .aligne {
    display: flex;
    justify-content: center;
  }
}
