<section class="adopt hide">
  <hr />
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right">
        <img
          src="assets/img/gardSect-removebg-preview.png"
          width="390"
          height="auto"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 aligner" data-aos="fade-left">
        <h1>ADOPTER</h1>
        <p>
          <i class="fa fa-paw" aria-hidden="true"></i> 
          Donnez leur une seconde chance, venez découvrir les animaux de nos refuges et permettez a l'un d'entre eux d'être adopté et de passer le reste de leur vie dans une famille bienvaillante !
        </p>
        <div class="butt">
          <a [routerLink]="['/dogs']" class="button28">Plus d'information</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>
<section class="garde hide">
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 aligner" data-aos="fade-right">
        <h1>GARDER</h1>
        <p>
          <i class="fa fa-paw" aria-hidden="true"></i> 
          Vouz partez en weekend, en vacances ou souhaitez vous simplement que votre toutou rencontre de nouveaux amis ? confier votre chien a un "dog sitter" est la solution parfaite.
<br>
<i class="fa fa-paw" aria-hidden="true"></i> 
Vous adorez les toutous mais ne pouvez pas en avoir un ? vous partagerez des moments magiques avec un toutou, tout en rendant service au maître et en améliorant le bien-être du toutou.
        </p>
        <div class="butt">
          <a [routerLink]="['/garde']" class="button28">Plus d'information</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-left">
        <img
          src="assets/img/adoptSect-removebg-preview-removebg-preview.png"
          width="400"
          height="auto"
          alt="Фотография"
        />
      </div>
    </div>
  </div>
  <hr />
</section>

<section class="walking hide">
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right">
        <img
          src="assets/img/walkSect-removebg-preview-removebg-preview.png"
          width="450"
          height="auto"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 aligner" data-aos="fade-left">
        <h1>PROMENER</h1>

        <p>
          three columnscolumns columns columnscolumns columnscolumns
          columnscolumns One of three columnscolumns columns columnscolumns
          columnscolumns columnscolumns
        </p>
        <div class="butt">
          <a [routerLink]="['/dogs']" class="button28">MORE INFO</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>
<!-- <section class="lucky">Qui a etait adopte</section> -->

<!-- SMOLL ecrans -->

<section class="adopt show">
  <hr />
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 aligne">
        <img
          src="assets/img/gardSect-removebg-preview.png"
          width="300"
          height="300"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 aligner" >
        <h1>ADOPTER</h1>
        <p>
          <i class="fa fa-paw" aria-hidden="true"></i> 
          Donnez leur une seconde chance, venez découvrir les animaux de nos refuges et permettez a l'un d'entre eux d'être adopté et de passer le reste de leur vie dans une famille bienvaillante !
        </p>
        <div class="butt">
          <a [routerLink]="['/dogs']" class="button28">Plus d'information</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>
<section class="garde show">
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 ">
        <img
          src="assets/img/adoptSect-removebg-preview-removebg-preview.png"
          width="300"
          height="300"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 aligner">
        <h1>GARDER</h1>
        <p>
          <i class="fa fa-paw" aria-hidden="true"></i> 
          Vouz partez en weekend, en vacances ou souhaitez vous simplement que votre toutou rencontre de nouveaux amis ? confier votre chien a un "dog sitter" est la solution parfaite.
<br>
<i class="fa fa-paw" aria-hidden="true"></i> 
Vous adorez les toutous mais ne pouvez pas en avoir un ? vous partagerez des moments magiques avec un toutou, tout en rendant service au maître et en améliorant le bien-être du toutou.
        </p>
        <div class="butt">
          <a [routerLink]="['/garde']" class="button28">Plus d'information</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>

<section class="walking show">
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 aligne">
        <img
          src="assets/img/walkSect-removebg-preview-removebg-preview.png"
          width="350"
          height="320"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 aligner">
        <h1>PROMENER</h1>

        <p>
          three columnscolumns columns columnscolumns columnscolumns
          columnscolumns One of three columnscolumns columns columnscolumns
          columnscolumns columnscolumns
        </p>
        <div class="butt">
          <a [routerLink]="['/dogs']" class="button28">Plus d'information</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>