<section>
  <div *ngIf="param && param === 'dog'">
    <mat-card class="example-card card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"
             [ngStyle]="{'background-color':info.sexe == '1' ? '#87C0B4' : '#FEB225' }">
          <i *ngIf="info.sexe == '1'" class="fas fa-mars" style="color: white;"></i>
          <i *ngIf="info.sexe == '2'" class="fas fa-venus" style="color: white;"></i>
        </div>
        <mat-card-title>{{info.name}}</mat-card-title>
        <mat-card-subtitle>{{info.race}} {{info.age}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{info.photo}}"
           style="height: 200px;"
           alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="characterDog">
          {{info.characteristic}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a   (click)="goDogDescriptionPage(info)"  class="button28">Plus d'informations</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="param && param === 'user'">
    <div class="user-header">
      <img *ngIf="info.avatar_url !== 'null'" [src]="info.avatar_url | safe">
      <img *ngIf="info.avatar_url == 'null'"  src="https://ptetutorials.com/images/user-profile.png">
      <section>
      <div>{{info.firstname}} {{info.lastname}}</div>
      <div class="rate">
      <p  *ngFor="let rate of info.rating | displayRate">
        <i  [ngClass]="rate.classIcon" aria-hidden="true"></i>
      </p>
      </div>
      </section>
    </div>

    <section style="text-align: center">
      <div> Date de creation : {{info.created_date| date:'dd-MM-yyyy, h:mm a'}}</div>
    </section>
    <section style="text-align: center">
      <div> Bloqué: {{info.blocked}}</div>
    </section>
    <article> {{info.raison}}</article>
  </div>
</section>

