.example-header-image {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.user-header{
  display: flex;
  height: 80px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .rate{
      display: flex;
      justify-content: center;
    }
  }

  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
