<div class="container-fluid">
    <div *ngIf="cardLoiding" style="width: 100%; display: flex; justify-content: center;">
      <mat-spinner></mat-spinner>
    </div>
    <div class="row" *ngIf="!cardLoiding">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let annonce of myPassAnnonces ; let i = index">
        <mat-card class="example-card card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"
              [ngStyle]="{'background-color':annonce.sexe == '1' ? '#87C0B4' : '#FEB225' }">
              <i *ngIf="annonce.sexe == '1'" class="fas fa-mars" style="color: white;"></i>
              <i *ngIf="annonce.sexe == '2'" class="fas fa-venus" style="color: white;"></i>
            </div>
            <mat-card-title>
              <h4>{{annonce.name}} </h4>

              <p *ngIf="annonce.avalaible == 1" style="background-color: #feb225;" > 
                <i class="fa fa-hourglass-half mr-2" aria-hidden="true"></i> Expiré
              </p>
              <p *ngIf="annonce.avalaible == 0" style="background-color: #87C0B4;" > 
                <i class="fa fa-check mr-2" aria-hidden="true"></i> Garde acceptée
              </p>
            </mat-card-title>
            <mat-card-subtitle>{{annonce.race}} {{annonce.age}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image  [src]="annonce.photo | safe" style="height: 200px;" alt="W3Schools.com">
          <mat-card-content>
            <div class ="sociability">
              <i *ngIf="annonce.love_dog" class="fas fa-dog mr-2"
              matTooltip="sociable avec les chiens"></i>
              <img *ngIf="!annonce.love_dog"
              matTooltip="pas sociable avec les chiens"
               src="assets/img/post_5c91f9b712d58-removebg-preview.png">
              <i *ngIf="annonce.love_cat" class="fas fa-cat mr-2"
              matTooltip="sociable avec les chats"></i>
              <img *ngIf="!annonce.love_cat" 
              matTooltip="pas sociable avec les chiens"src="assets/img/vhod-s-koshkami-zapreshhen-1-removebg-preview.png">
              <i *ngIf="annonce.love_child" class="fas fa-baby"
              matTooltip="sociable avec les enfants"></i>
              <img *ngIf="!annonce.love_child"
              matTooltip="pas sociable avec les enfants"
                  src="assets/img/vhod-s-mladencami-zapreshhen-1-removebg-preview.png">
            </div>
            <p style="min-height: 42px; text-align: center;">
              {{annonce.characteristic}}
              <br>
            </p>
            <div class="flex" style="text-align: center;">
              {{annonce.date_start | date:'mediumDate'}} - {{annonce.date_fin | date:'mediumDate'}}
            </div>
          </mat-card-content>
          <mat-card-actions>
              <div class="demandes">
                <button mat-flat-button (click)="openDemandByAnnoce(annonce)" class="showDemandes">Voir les demandes</button>
              </div>
          </mat-card-actions>
        </mat-card>
      </div>
      </div>
      </div>



      <div class= "user_info" id='target'>
        <div class="container-fluide" *ngIf="showDemandInfo && !demandLoading">
          <div class="row mt-5 p-3" *ngFor="let demand of demandesByAnnonce">
            <div class="col-lg-2 avatar">
              <img src="{{ demand.avatar_url }}" alt="photo3" />
            </div>
            <div class="col-lg-7 info_perso">
              <div class="flex"> <h6>Nom</h6>: {{demand.firstname}}</div>
              <div> <h6>Prenom</h6>: {{demand.lastname}}</div>
              <div> <h6>Date d'inscription</h6>: {{demand.created_date |date}}</div>
              <div *ngIf="demand.myRateToUser"> <h6>Vous avez note l'utilisateur </h6>: {{demand.myRateToUser}}</div>
              <div class = "rate">
              <h6>Rating</h6> : <div class = "mt-5" *ngFor="let rate of demand.rating | displayRate"> 
                <i  [ngClass]="rate.classIcon" aria-hidden="true"></i>
              </div>
            </div>
            </div>
            <div class="col-lg-3 action">
              <i class="fa fa-paper-plane-o msg_send_btn" aria-hidden="true"
              matTooltip="envoyer message a l'utilisateur"
              (click)="sendMessage(demand)"></i>  
              <p *ngIf="demand.status == 'accept'">
                l'utilisateur est accepté </p>
               <p *ngIf="demand.status == 'reject'">
                  l'utilisateur est rejeté </p>
              <p *ngIf="demand.toRate"> 
                <mat-form-field appearance="fill">
                  <mat-label> Noter cet utilisateur  </mat-label>
                  <mat-select (selectionChange)="sendUserRate($event , demand)">
                    <mat-option *ngFor="let rate of rates" [value]="rate">
                      {{rate.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            </div>
          </div>
          <div *ngIf="demandesByAnnonce.length === 0" class = "nonDemand">
            <p>Désolé, personne n'a encore envoyé de demande pour votre annonce.</p>
          </div>
        

        <div *ngIf="demandLoading" style="width: 100%; display: flex; justify-content: center;">
          <mat-spinner></mat-spinner>
        </div>
      </div>