<nav class="navbar navbar-expand-lg navbar-light nav">
  <a class="navbar-brand" href="#">
    <img
    src="assets/img/avatar.png"
    class="logo"
      width="40"
      height="40"
      alt="logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end align-items-end"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf="currentUser && currentUser!== null && currentUser.data.user.user_role === 'ADMIN'">
        <a class="nav-link" routerLink="/admin/users" >ADMIN</a>
      </li>
      <li class="nav-item active" *ngIf="currentUser && currentUser!== null && currentUser.data.user.user_role === 'ADMIN'">
        <a class="dropdown-item" (click)="logOut()">Deconnexion</a>
      </li>
      <li class="nav-item active" *ngIf="!currentUser || currentUser == null">
        <a class="nav-link" (click)="showConnectionModal()">Connexion</a>
      </li>
      <li class="nav-item active" *ngIf="!currentUser || currentUser == null">
        <a class="nav-link" (click)="showInscriptionModal()">Inscription</a>
      </li>
      <li class="nav-item dropdown" *ngIf="currentUser && currentUser!== null && currentUser.data.user.user_role !== 'ADMIN'">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-user" *ngIf="currentUser.data.user.avatar_url == 'null'"></i>
          <img class= "user-avatar"*ngIf="currentUser.data.user.avatar_url !== 'null'" [src]="currentUser.data.user.avatar_url | safe">
          {{ currentUser.data.user.firstname }}
          {{ currentUser.data.user.lastname }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/profil/me">Mon espace</a>
          <a class="dropdown-item" (click)="logOut()">Deconnexion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
