body {
  background-color: blue;
}
.nav {
  width: 100vw;
  min-height: 8vh;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffefd2ee;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.493);
}
li {
  margin-right: 2vw;
  cursor: pointer;
}
a {
  color: #5d3535 !important;
  font-weight: 800;
}

a.dropdown-item:active {
  background-color: #87c0b4 !important;
}

a.dropdown-item:hover {
  background-color: #87c0b4 !important;
}

.dropdown-menu,
.show {
  background-color: #ffefd2ee;
}

.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .nav {
    padding: 0;
  }
}
