<section>
  <!-- <h5>
    We want you to be happy with your puppy so we take responsibility to check if you are suitable for each other.
    To add an animal please fill out the form and we will give our answer within a week. Thank you
  </h5> -->
  <div class="container-fluid">
    <div class="rov" *ngIf="cardLoiding">
      <div
         style="width: 100%; display: flex; justify-content: center;" >
          <mat-spinner></mat-spinner>
        </div>
    </div>
    <div class="row" *ngIf="!cardLoiding">
      <div class="col-lg-6 col-md-6">
        <div class="container-fluid">
          <div class="row">
            <div class="d-flex flex-column">
              <div class="grand">
                <div>
                  <a *ngIf="isShow1" [@inGoAnimation]>
                    <img src="{{ dog.img1 }}" class="big" alt="photo3" />
                  </a>
                  <a *ngIf="isShow2" [@inGoAnimation]>
                    <img src="{{ dog.img2 }}" class="big" alt="photo3" />
                  </a>
                  <a *ngIf="isShow3" [@inGoAnimation]>
                    <img src="{{ dog.img3 }}" class="big" alt="photo3" />
                  </a>
                  <a *ngIf="isShow4" [@inGoAnimation]>
                    <img src="{{ dog.img4 }}" class="big" alt="photo3" />
                  </a>
                </div>
              </div>
              <div class="d-flex flex-row pt-4">
                <div>
                  <a (click)="goPhoto1()">
                    <img src="{{ dog.img1 }}" class="ptit" alt="photo3" />
                  </a>
                </div>
                <div>
                  <a (click)="goPhoto2()">
                    <img src="{{ dog.img2 }}" class="ptit" alt="photo3" />
                  </a>
                </div>
                <div>
                  <a (click)="goPhoto3()">
                    <img src="{{ dog.img3 }}" class="ptit" alt="photo3" />
                  </a>
                </div>
                <div>
                  <a (click)="goPhoto4()">
                    <img src="{{ dog.img4 }}" class="ptit" alt="photo3" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!adoptForm" class="col-lg-6 col-md-6 RIGHT" [@inGoAnimation]>
        <div class="padding-section">
          <article>
            <div class="info">
            <h3>{{ dog.name }}
              <i
              *ngIf="dog.sexe == '1'"
              class="fas fa-mars"
              style="color:#659b8f"
            ></i>
            <i
              *ngIf="dog.sexe == '2'"
              class="fas fa-venus"
              style="color: #e4a228"
            ></i>
            </h3>
            <h6>{{ dog.age }}</h6>
          </div>
            <!-- <p class="card-text">{{ dog.race }}</p> -->
            <div class="doghistory">{{ dog.description }}</div>
          </article>
          <p *ngIf="dog.info_linc">
            Vous pouvez trouver plus d'informations sur la race <span class ="race">{{dog.race}}</span> et ses caractéristiques 
            <a href={{dog.info_linc}}>ici</a>.
          </p>
          <div class="butt ccc">
            <button
              *ngIf="currentUser && currentUser !== null && userHasDemand && dog.avalaible &&currentUser.data.user.blocked === 0"
              (click)="showForm()"
              class="button28"
            >
              Demande d'adoption
            </button>
          </div>
          <p *ngIf="!currentUser || currentUser == null">
            Connecter-vous pour adopter un chien
          </p>
          <p *ngIf="currentUser && !userHasDemand">
            Vous avez deja fait une demande d'adoption pour ce chien 
          </p>
           <p *ngIf="currentUser && !dog.avalaible">
            Ce chien est deja adopté
          </p> 
        </div>
      </div>
      <div *ngIf="adoptForm" class="col-lg-6 col-md-6 RIGHT" [@inGoAnimation]>
        <div class="padding-section">
          <div class="ccc fermer">
            <i class="fas fa-times cursor-pointer" (click)="closeForm()"></i>
          </div>

          <!-- FORM -->
          <form
            class="text-center border border-light p-5"
            [formGroup]="FormAdoption"
          >
            <p class="h4 mb-4">
              S'il vous plait remplisser ce formulaire, nous vous contacterons rapidement.
            </p>

            <mat-form-field class="example-full-width">
              <mat-label>Pour quelle raison vous voulez adopter {{ dog.name }}</mat-label>
              <textarea
                matInput
                #message
                maxlength="256"
                formControlName="reason"
              ></textarea>
              <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Votre numero de téléphone</mat-label>
              <span matPrefix>+ &nbsp;</span>
              <input
                type="tel"
                matInput
                placeholder="33-666-77-88-99"
                formControlName="phone"
              />
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </form>
          <!-- FORM fin -->

          <div class="butt ccc">
            <button
              [disabled]="!FormAdoption.valid"
              (click)="sendDemande()"
              [ngClass]="{
                button28: FormAdoption.valid,
                button27: !FormAdoption.valid
              }"
            >
              Envoyer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
