/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a.button28 {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(236, 236, 241);
  text-decoration: none;
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.3em 0.8em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(#87c0b4, #5ab39f) #02cfab;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #02554681,
    0 0 1px 1px #0350424f;
  transition: 0.2s ease-in-out;
}
a.button28:hover:not(:active) {
  background: linear-gradient(#9bdbcd, #5ab39f) #037963;
}
a.button28:active {
  top: 1px;
  background: linear-gradient(#7db1a5, #408072) #036351;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}

a.deleteButton {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(236, 236, 241);
  text-decoration: none;
  padding: 0.3em 0.8em;
  outline: none;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  background: linear-gradient(#feb225, #e6a120) #8b6111;
  box-shadow: 0 1px rgba(180, 146, 96, 0.082) inset, 0 2px 3px #9467153f,
    0 0 1px 1px #855b124b;
}
a.deleteButton:hover:not(:active) {
  background: linear-gradient(#e6be74, #dda846) #52452e;
}
a.deleteButton:active {
  top: 1px;
  background: linear-gradient(#c78b1c, #946816) #5f420d;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}

i.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  width: 33px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
i.msg_send_btn:active {
  background: #04556b none repeat scroll 0 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}

.yellow {
  color: #e6be74;
}

a.user_accepted {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(236, 236, 241);
  text-decoration: none;
  padding: 0.3em 0.8em;
  outline: none;
  border-radius: 3px;
  top: 1px;
  background: linear-gradient(#7db1a5, #408072) #036351;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
a.user_refused {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(236, 236, 241);
  text-decoration: none;
  padding: 0.3em 0.8em;
  outline: none;
  border-radius: 3px;
  top: 1px;
  background: linear-gradient(#c78b1c, #946816) #5f420d;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}


.info_non_data{
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%,-50%);
  border: 1px solid #d8d8d8;
  background-color: #fff;
  color: #4a4a4a;
  margin-bottom: 0;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  width: 400px;
  font-size: 12px;
  padding: 38px 60px;
  display: flex!important;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  p{
    text-align: center;
    color: #808080;
  }
  a{
    padding: 1.1em 1.6em;
  }
}
