<section>
  <div class="filter">
  <mat-form-field appearance="fill">
    <mat-label> Le sexe du chien </mat-label>
    <mat-select (selectionChange)="filterSex($event)">
      <mat-option *ngFor="let sexe of dogSex" [value]="sexe">
        {{sexe.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
      <div class="container-fluid">
        <div *ngIf="cardLoiding"
         style="width: 100%; display: flex; justify-content: center;" >
          <mat-spinner></mat-spinner>
        </div>
        <div class="row" *ngIf="!cardLoiding">
          <div class="col-lg-3 col-md-4 col-sm-6 mt-3" *ngFor="let dog of filterDogs">
            <mat-card class="example-card card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image" 
                [ngStyle]="{'background-color':dog.sexe == '1' ? '#87C0B4' : '#FEB225' }">
                  <i *ngIf="dog.sexe == '1'" class="fas fa-mars" style="color: white;"></i>
                  <i *ngIf="dog.sexe == '2'" class="fas fa-venus" style="color: white;"></i>
                </div>
                <mat-card-title>{{dog.name}}</mat-card-title>
                <mat-card-subtitle>{{dog.race}} {{dog.age}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{dog.photo}}" 
              style="height: 200px;"
               alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p class="characterDog">
                {{dog.characteristic}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a  [routerLink]="[dog.slug]"  class="button28">Plus d'informations</a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>

</section>
<app-footer></app-footer>
