section {
  padding-top: 8vh;
  min-height: 100vh;
  background-size: cover;
  background-repeat: repeat-y;
  mat-form-field{
    margin: 10px;
      }
}
.row {
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
}
.filter {
  // width: 100vw;
  display: flex;
  text-align: end;
  justify-content: flex-end;
}
.example-header-image {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
mat-card-title {
  color: #5d3535;
  font-weight: 800;
}
mat-card-subtitle {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
}
.characterDog {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
mat-card-subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
