   <mat-tab-group animationDuration="0ms"  mat-align-tabs="center">
    <mat-tab label="Calendrier">
      <h6 *ngIf="keepDogs && keepDogs.length === 0"
      class="nothing"> Pour l'instant votre calendrier est vide</h6>
      <h6 *ngIf="keepDogs && keepDogs.length !== 0 && keepDogsAccept.length === 0"
      class="nothing"> Vous avez les demandes en attente </h6>
      <app-calendar-activity></app-calendar-activity>
    </mat-tab>
    <mat-tab label="Mes demandes">
      <section>
        <div class="container-fluid">
          <div *ngIf="cardLoiding"
               style="width: 100%; display: flex; justify-content: center;" >
                <mat-spinner></mat-spinner>
          </div>
          <div class="row" *ngIf="!cardLoiding && keepDogs">
            <div class="col-lg-3 col-md-6 col-sm-6 mt-3" *ngFor="let dog of keepDogs">
              <mat-card class="example-card card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image" 
                  [ngStyle]="{'background-color':dog.sexe == '2' ? '#87C0B4' : '#FEB225' }">
                    <i *ngIf="dog.sexe == '1'" class="fas fa-mars" style="color: white;"></i>
                    <i *ngIf="dog.sexe == '2'" class="fas fa-venus" style="color: white;"></i>
                  </div>
                  <mat-card-title>{{dog.name}}
                    <p *ngIf="dog.status === 'accept'" style="background-color: #87C0B4;" > 
                      <i class="fa fa-check mr-2" aria-hidden="true"></i> Accepté
                    </p>
                    <p *ngIf="dog.status === 'reject'" style="background-color: #f65e5e" > 
                      <i class="fa fa-times mr-2" aria-hidden="true"></i> Refusé
                    </p>
                    <p  *ngIf="dog.status === 'pending'" style="background-color: lightgrey;" >
                      <i class="fa fa-hourglass-half mr-2" aria-hidden="true"></i> En attente
                    </p>
                    <p *ngIf="dog.status === 'user-cancel'" style="background-color: #f65e5e;" >
                      <i class="fa fa-times mr-2" aria-hidden="true"></i> Refusé
                    </p>
                  </mat-card-title>
                  <mat-card-subtitle>{{dog.race}} {{dog.age}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image  [src]="dog.photo | safe" style="height: 200px;" alt="W3Schools.com">
                <mat-card-content>
                  <div class="flex" style="text-align: center;">
                    {{dog.date_start | date:'mediumDate'}} - {{dog.date_fin | date:'mediumDate'}}
                  </div>
                </mat-card-content>
                <mat-card-actions>            
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!cardLoiding && keepDogs && keepDogs.length === 0">
          <div class="info_non_data">
            <p> Vous n'avez pas de demandes
              <br>
              Vous pouvez choisir votre ami ici</p>
            <a [routerLink]="['/garde']" class="button28">
              Voir les chiens
            </a>
          </div>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
