section {
  padding-top: 5vh;
}
.example-header-image {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
mat-card {
  position: relative;
}
mat-card-actions {
  display: flow-root;
  .left {
    float: left;
    background: linear-gradient(#87c0b4, #5ab39f) #02cfab;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #025546d7,
      0 0 1px 1px #0350424f;
  }
  .right {
    float: right;
    background: linear-gradient(#f18181, #f65e5e) #f65e5e;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #6d2929,
      0 0 1px 1px #0350424f;
  }
  // justify-content: flex-end;
}
mat-card-title {
  color: #5d3535;
  font-weight: 800;
  p {
    font-size: 90%;
    font-weight: 500;
    color: rgb(236, 236, 241);
    position: absolute;
    padding: 2px 5px;
    top: -7px;
    right: -6px;
    font-size: 0.7em;
    border-radius: 3px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset,
      0 2px 3px rgba(255, 255, 255, 0.329);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
.calendar {
  display: flex;
  text-align: end;
  justify-content: flex-end;
}
.mat-tab-body-content {
  overflow: inherit;
}

.info_non_data {
  position: inherit;
  margin-top: 40vh;
  margin-left: 40vw;
}
.nothing {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 10px;
}
.mat-tab-body-content {
  background-color: khaki;
}
@media screen and (max-width: 576px) {
  .nothing {
    text-align: center;
    padding: 10px 0;
  }
  .info_non_data {
    margin: auto;
    width: 90vw;
    margin-top: 9vh;
    position: relative;
  }
}
