<div class ="action">
    <a class="button28"(click)="openModalAddAnnounce()">New annonce</a>
    <mat-form-field appearance="fill">
        <mat-label> Statut </mat-label>
        <mat-select (selectionChange)="filterStatus($event)">
            <mat-option *ngFor="let st of status" [value]="st">
                {{st.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<!-- NEW ANNONCE -->
<div class = "new-annonce" *ngIf="showNewAnnonce"> 
    <form [formGroup]="newAnnonce">
        <mat-form-field  floatLabel="never" class="w-30% pr-2">
          <mat-label>Nom du chien </mat-label>
          <input matInput id="dogName" formControlName="dogName">
        </mat-form-field>
        <mat-form-field  floatLabel="never" class="w-20%">
          <mat-label>Age </mat-label>
          <input matInput id="age" formControlName="age">
        </mat-form-field>
        <mat-form-field  floatLabel="never" style="width: 25%;" class="pr-2">
            <mat-label>Race </mat-label>
            <input matInput id="race" formControlName="race">
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 20%;">
            <mat-label>Sexe </mat-label>
            <mat-select (selectionChange)="choseDogSexe($event)">
              <mat-option *ngFor="let sexe of dogSexe" [value]="sexe">
                {{sexe.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <label for="file">Photo principal</label>
            <input type="file" id="file" name="file" (change)="selectFile($event)" multiple>
          </div>
        <br>
        <mat-form-field appearance="fill" style="width: 30%;" class="pr-2">
          <mat-label> Classification </mat-label>
          <mat-select (selectionChange)="choseClassification($event)">
            <mat-option *ngFor="let class of classification" [value]="class">
              {{class.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 20%;" class="pr-2">
          <mat-label> &#10084; chiens ? </mat-label>
          <mat-select (selectionChange)="choseLoveAutherDogs($event)">
            <mat-option *ngFor="let dog of atherDog" [value]="dog">
              {{dog.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 20%;" class="pr-2">
          <mat-label>&#10084; chats? </mat-label>
          <mat-select (selectionChange)="choseLovaCat($event)">
            <mat-option *ngFor="let cat of cats" [value]="cat">
              {{cat.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 20%;" class="pr-2">
          <mat-label>&#10084; enfants? </mat-label>
          <mat-select (selectionChange)="choseLoveChild($event)">
            <mat-option *ngFor="let child of childs" [value]="child">
              {{child.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field  style="width: 60%;">
          <mat-label>Description</mat-label>
          <textarea matInput id="description" placeholder="Veuillez mettre plus d'information a propos de chien"
            rows="3" cols="40" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field  style="width: 40%;">
            <mat-label>Characteristic</mat-label>
            <textarea matInput id="characteristic" placeholder="Veuillez mettre characteristic de chien"
              rows="3" cols="40" formControlName="characteristic"></textarea>
          </mat-form-field>
          <div>
            <label for="file1">Photo 1  :</label>
            <input type="file" id="file1" name="file1"  (change)="selectFile1($event)" multiple>
          </div>
          <div>
            <label for="file2">Photo 2  :</label>
            <input type="file" id="file2" name="file2"  (change)="selectFile2($event)" multiple>
          </div>
          <div>
            <label for="file2">Photo 3  :</label>
            <input type="file" id="file" name="file3"  (change)="selectFile3($event)" multiple>
          </div>
          <div>
            <label for="file4">Photo 4  :</label>
            <input type="file" id="file4s" name="file"  (change)="selectFile4($event)" multiple>
          </div>
      </form>
      
      <a class="button28"(click)="sendNewAnnonce()">SEND</a>
</div>
<!-- TABLE -->
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th class="w-25">Utilisateur</th>
        <th class="w-50">pourquoi ?</th>
        <th class="w-25">Chien</th>
        <th class="w-25">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let demand of allFiltredDemandAdoption">
        <td>
            <div class="dog-info">
                <p>{{ demand.firstname }} {{ demand.lastname }}
                    <img *ngIf="demand.avatar_url !== 'null'" [src]="demand.avatar_url | safe">
                    <img *ngIf="demand.avatar_url == 'null'"  src="https://ptetutorials.com/images/user-profile.png">
                    <i class="fa fa-info-circle" aria-hidden="true" (click)="openModalInfo(demand, 'user')"></i>
                </p>
                <i class="fa fa-paper-plane-o msg_send_btn" aria-hidden="true"
                   matTooltip="envoyer message a l'utilisateur"
                   (click)="sendMessage(demand)"></i>
            </div>
        </td>
        <td > <p>{{ demand.reason }}</p></td>
        <td>
            <div class="dog-info">
                <p>{{ demand.name }}
                    <img
                        src="{{ demand.photo }}"
                        class="img-fluid mx-auto dog-foto m-l-5 m-r-5"
                        alt="..."
                />
                </p>

                <i class="fa fa-info-circle info"
                   aria-hidden="true"
                   (click)="openModalInfo(demand, 'dog')"></i></div>
        </td>
        <td class="button flex">
            <button
                    *ngIf="demand.status === 'pending'"
                    mat-raised-button
                    color="primary"
                    (click)="acceptDemand(demand)">Accepter
            </button>
            <button *ngIf="demand.status === 'pending'" mat-raised-button color="warn" (click)="rejectDemand(demand)">
                Rejeter
            </button>
            <p *ngIf="demand.status !== 'pending'">{{ demand.status }}</p>
        </td>
    </tr>
    </tbody>
</table>

