td,
tr {
  text-align: center;
  justify-content: center;
  border-bottom: none !important;
  p {
    text-align: initial;
  }
}
img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.button {
  width: 250px;
  display: flex;
}
button {
  margin-left: 3px;
  margin-right: 3px;
}
i {
  margin-left: 15px;
  color: #d8d8d8;
}

.dog-info {
  display: flex;
  justify-content: space-between;
}
.action {
  display: flex;
  justify-content: space-between;
  a {
    height: 40px;
    text-align: center;
    align-items: center;
    display: flex;
  }
}
.new-annonce {
  margin-bottom: 20px;
}
